<!DOCTYPE html>
<html lang="es">
<head>
    <title>Gracias</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1>¡Gracias por registrar tu actividad!</h1>
  <p>Hemos recibido su información correctamente.</p>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
  <a href="{{ url_for('index') }}" class="btn">Volver a la página principal</a>
</body>
</html>