<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Evaluación de Actividades</title>
</head>
<body>
  <table id="tabla-actividades" border="1">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Tema</th>
        <th>Inicio</th>
        <th>Término</th>
        <th>Región</th>
        <th>Comuna</th>
        <th>Sector</th>
        <th>Nota</th>
        <th>Foto</th>
        <th>Evaluar</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <script src="../static/app.js"></script>
</body>
</html>