<!DOCTYPE html>
<html lang="es">
<head>
	<title>Estadisticas</title>
	<link rel = "stylesheet" type ="text/css" href="../static/styles.css">
</head>
<body>
<h1> Estadísticas. </h1>
<div>
	<h2>Actividades por Día.</h2>
	<img src="../static/Imagenes/grafico1.png" alt="grafico1.png">
</div>
<div>
	<h2>Total de Actividades por Tipo.</h2>
	<img src="../static/Imagenes/grafico2.png" alt="grafico2.png">
</div>
<div>
	<h2>Actividades por Horario y Mes.</h2>
	<img src="../static/Imagenes/grafico3.png" alt="grafico3.png">
</div>
<p></p>
<div>
	<a href="{{ url_for('index') }}" class="btn">Página Principal.</a>
</div>
</body>
</html>